<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZAREN TRAVEL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/vendors.css" />
    <link rel="stylesheet" href="~/css/main.css?v7452" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@@opencage/geosearch-bundle/dist/css/autocomplete-theme-classic.min.css" />
</head>
<body>
    <div class="preloader js-preloader">
    <div class="preloader__wrap">
      <div class="preloader__icon">
        <svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_41)">
            <path
              d="M32.9675 13.9422C32.9675 6.25436 26.7129 0 19.0251 0C11.3372 0 5.08289 6.25436 5.08289 13.9422C5.08289 17.1322 7.32025 21.6568 11.7327 27.3906C13.0538 29.1071 14.3656 30.6662 15.4621 31.9166V35.8212C15.4621 36.4279 15.9539 36.92 16.561 36.92H21.4895C22.0965 36.92 22.5883 36.4279 22.5883 35.8212V31.9166C23.6849 30.6662 24.9966 29.1071 26.3177 27.3906C30.7302 21.6568 32.9675 17.1322 32.9675 13.9422V13.9422ZM30.7699 13.9422C30.7699 16.9956 27.9286 21.6204 24.8175 25.7245H23.4375C25.1039 20.7174 25.9484 16.7575 25.9484 13.9422C25.9484 10.3587 25.3079 6.97207 24.1445 4.40684C23.9229 3.91841 23.6857 3.46886 23.4347 3.05761C27.732 4.80457 30.7699 9.02494 30.7699 13.9422ZM20.3906 34.7224H17.6598V32.5991H20.3906V34.7224ZM21.0007 30.4014H17.0587C16.4167 29.6679 15.7024 28.8305 14.9602 27.9224H16.1398C16.1429 27.9224 16.146 27.9227 16.1489 27.9227C16.152 27.9227 23.0902 27.9224 23.0902 27.9224C22.3725 28.8049 21.6658 29.6398 21.0007 30.4014ZM19.0251 2.19765C20.1084 2.19765 21.2447 3.33365 22.1429 5.3144C23.1798 7.60078 23.7508 10.6649 23.7508 13.9422C23.7508 16.6099 22.8415 20.6748 21.1185 25.7245H16.9322C15.2086 20.6743 14.2994 16.6108 14.2994 13.9422C14.2994 10.6649 14.8706 7.60078 15.9075 5.3144C16.8057 3.33365 17.942 2.19765 19.0251 2.19765V2.19765ZM7.28053 13.9422C7.28053 9.02494 10.3184 4.80457 14.6157 3.05761C14.3647 3.46886 14.1273 3.91841 13.9059 4.40684C12.7425 6.97207 12.102 10.3587 12.102 13.9422C12.102 16.7584 12.9462 20.7176 14.6126 25.7245H13.2259C9.33565 20.6126 7.28053 16.5429 7.28053 13.9422Z"
              fill="#225d74" />
          </g>
          <defs>
            <clipPath id="clip0_1_41">
              <rect width="36.92" height="36.92" fill="white" transform="translate(0.540039)" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>

    <div class="preloader__title"><img width="200" src="~/img/brand-primary.png"/></div>
  </div>

<div class="header-margin"></div>
    <div class="header-margin"></div>
    <header data-add-bg="" class="header bg-white shadow-3 js-header" data-x="header" data-x-toggle="is-menu-opened">
        <div class="container ">
            <div class="row justify-between items-center">
                <div class="col-auto">
                    <div class="d-flex items-center">
                        <a href="/" class="header-logo mr-30" data-x="header-logo" data-x-toggle="is-logo-dark">
                            <img src="~/img/brand-primary.png?v1" alt="logo icon" />
                            <img src="~/img/brand-primary.png?v1" alt="logo icon" />
                        </a>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="d-flex items-center">
                        <div class="row x-gap-20 items-center">
                            <div class="header-menu " data-x="mobile-menu" data-x-toggle="is-menu-active">
                                <div class="mobile-overlay"></div>
                                <div class="header-menu__content">
                                    <div class="mobile-bg js-mobile-bg"></div>
                                    <div class="menu js-navList">
                                        <ul class="menu__nav text-dark-1 -is-active">
                                            <!-- currenty unit -->
                                            <li class="menu-item-has-children">
                                                <a data-barba href="">
                                                    <span class="mr-10">USD $</span>
                                                    <i class="icon icon-chevron-sm-down"></i>
                                                </a>
                                                <ul class="subnav">
                                                    <li class="subnav__backBtn js-nav-list-back">
                                                        <a href="#"><i class="icon icon-chevron-sm-down"></i> USD $</a>
                                                    </li>
                                                    <li><a href="#">TL ₺</a></li>
                                                    <li><a href="#">USD $</a></li>
                                                    <li><a href="#">EU €</a></li>
                                                    <li><a href="#">GBP £</a></li>
                                                </ul>
                                            </li>
                                            <!-- currenty unit end -->
                                            <li class="menu-item-has-children">
                                                <a data-barba href="">
                                                    <span class="mr-10"><img width="26" src="~/img/general/tr.svg" alt="image" class="rounded-4 mr-10"> Turkey</span>
                                                    <i class="icon icon-chevron-sm-down"></i>
                                                </a>

                                                <!-- language content -->
                                                <ul class="subnav">
                                                    <li class="subnav__backBtn js-nav-list-back">
                                                        <a href="#">Turkey <i class="icon icon-chevron-sm-down"></i> Home</a>
                                                    </li>
                                                    <li><a href="#"><img width="26" src="~/img/general/tr.svg" alt="image" class="rounded-4 mr-10"> Turkey</a></li>
                                                    <li><a href="#"><img width="26" src="~/img/general/de.svg" alt="image" class="rounded-4 mr-10"> German</a></li>
                                                    <li><a href="#"><img width="26" src="~/img/general/ru.svg" alt="image" class="rounded-4 mr-10"> Russian</a></li>
                                                    <li><a href="#"><img width="26" src="~/img/general/en.svg" alt="image" class="rounded-4 mr-10"> English</a></li>
                                                    <li><a href="#"><img width="26" src="~/img/general/es.svg" alt="image" class="rounded-4 mr-10"> Español</a></li>
                                                    <li><a href="#"><img width="26" src="~/img/general/fr.svg" alt="image" class="rounded-4 mr-10"> Français</a></li>
                                                    <li><a href="#"><img width="26" src="~/img/general/it.svg" alt="image" class="rounded-4 mr-10"> Italiano</a></li>
                                                </ul>
                                                <!-- language content end -->
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex items-center ml-20 is-menu-opened-hide md:d-none">
                            <a href="login.html" class="button -outline-blue-1 px-30 fw-400 text-14 h-40 text-blue-1 mr-20">
                                Giriş
                                Yap
                            </a>
                            <a href="signup.html" class="button -white bg-blue-1 px-30 fw-400 text-14 h-40 text-white">Kayıt Ol</a>
                        </div>

                        <div class="d-none xl:d-flex x-gap-20 items-center pl-30" data-x="header-mobile-icons"
                             data-x-toggle="text-white">
                            <div>
                                <a href="login.html" class="d-flex items-center icon-user text-inherit text-22"></a>
                            </div>
                            <div>
                                <button class="d-flex items-center icon-menu text-inherit text-20"
                                        data-x-click="header, header-logo, header-mobile-icons, mobile-menu"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer -type-2 bg-light-2">
        <div class="container">
            <div class="pt-60 pb-60">
                <div class="row y-gap-40 justify-content-center xl:justify-start">
                    <div class="col-xl-12 col-lg-12 text-center">
                        <img src="~/img/brand-primary.png" alt="image" />

                        <div class="row y-gap-30 justify-content-center pt-30">
                            <div class="col-sm-3">
                                <div class="text-18">Müşteri Destek Hattı</div>
                                <a href="#" class="text-18 fw-500 text-dark-1 mt-5">+90 850 380 00 34</a>
                            </div>

                            <div class="col-sm-3 justify-content-center">
                                <div class="text-16">Desteğe mi ihtiyacınız var?</div>
                                <a href="#" class="text-18 fw-500 text-dark-1 mt-5">info@yuccatravel.com</a>
                            </div>
                        </div>

                        <div class="row x-gap-20 y-gap-15 pt-30">
                            <div class="col-12">
                                <h5 class="text-18 fw-500">Adres</h5>
                                <p> Ataköy 7-8-9-10. Kısım Mh.E-5 Yan Yol Caddesi No:16/1/A<br> Selenium Retro-9 A Blok 18/130 Bakırköy / İstanbul </p>
                            </div>
                        </div>

                        <div class="mt-60">
                            <h5 class="text-16 fw-500 mb-10">Bizi sosyal medyada takip edin</h5>
                            <div class="d-flex x-gap-20 items-center justify-content-center">
                                <a href="#"><i class="icon-facebook text-20"></i></a>
                                <a href="#"><i class="icon-twitter text-20"></i></a>
                                <a href="#"><i class="icon-instagram text-20"></i></a>
                                <a href="#"><i class="icon-linkedin text-20"></i></a>
                            </div>
                        </div>
                        <div class="mt-60">
                            <img src="https://b2c.zarentravel.com/images/v-cards.png" />
                            <img src="https://b2c.zarentravel.com/images/tursab.png" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-20 border-top-light">
                <div class="row justify-between items-center y-gap-10">
                    <div class="col-auto">
                        <div class="row x-gap-30 y-gap-10">
                            <div class="col-auto">
                                <div class="d-flex items-center">
                                    2022 | Yucca Travel
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="row y-gap-10 items-center">
                            <div class="col-auto">
                                <div class="col-auto">
                                    <div class="d-flex x-gap-15">
                                        <a href="#">Gizlilik</a>
                                        <a href="#">Kullanım Şartları</a>
                                        <a href="#">Site Haritası</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
    <script src="https://unpkg.com/@@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="~/js/vendors.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "oneway") {
                    $(".box").hide();
                    $(".oneway").show();
                }
                if ($(this).attr("value") == "roundtrip") {
                    $(".box").hide();
                    $(".roundtrip").show();
                }
                if ($(this).attr("value") == "multicity") {
                    $(".box").hide();
                    $(".multicity").show();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "onehotel") {
                    $(".box").hide();
                    $(".onehotel").show();
                }
                if ($(this).attr("value") == "multiplehotels") {
                    $(".box").hide();
                    $(".multiplehotels").show();
                }
            });
        });
    </script>
    <script>
        var start_date = null, end_date = null;
        var timestamp_start_date = null, timestamp_end_date = null;
        var $input_start_date = null, $input_end_date = null;

        function getDateClass(date, start, end) {
            if (end != null && start != null) {
                if (date > start && date < end)
                    return [true, "sejour", "Séjour"];
            }

            if (date == start)
                return [true, "start", "Başlangıç Tarihi"];
            if (date == end)
                return [true, "end", "Bitiş Tarihi"];

            return false;
        }

        function datepicker_draw_nb_nights() {
            var $datepicker = jQuery("#ui-datepicker-div");
            setTimeout(function () {
                if (start_date != null && end_date != null) {
                    var $qty_days_stay = jQuery("<div />", { class: "ui-datepicker-stay-duration" });
                    var qty_nights_stay = get_days_difference(timestamp_start_date, timestamp_end_date);
                    $qty_days_stay.text(qty_nights_stay + " Gece Sayısı");
                    $qty_days_stay.appendTo($datepicker);
                }
            });
        }

        var options_start_date = {
            showAnim: false,
            constrainInput: true,
            numberOfMonths: 2,
            showOtherMonths: true,
            beforeShow: function (input, datepicker) {
                datepicker_draw_nb_nights();
            },
            beforeShowDay: function (date) {
                // 0: published
                // 1: class
                // 2: tooltip
                var timestamp_date = date.getTime();
                var result = getDateClass(timestamp_date, timestamp_start_date, timestamp_end_date);
                if (result != false)
                    return result;

                return [true, "", ""];
                // return [ true, "chocolate", "Chocolate! " ];
            },
            onSelect: function (date_string, datepicker) {
                // this => input
                start_date = $input_start_date.datepicker("getDate");
                timestamp_start_date = start_date.getTime();
            },
            onClose: function () {
                if (end_date != null) {
                    if (timestamp_start_date >= timestamp_end_date || end_date == null) {
                        $input_end_date.datepicker("setDate", null);
                        end_date = null;
                        timestamp_end_date = null;
                        $input_end_date.datepicker("show");
                        return;
                    }
                }
                if (start_date != null && end_date == null)
                    $input_end_date.datepicker("show");
            }
        };
        var options_end_date = {
            showAnim: false,
            constrainInput: true,
            numberOfMonths: 2,
            showOtherMonths: true,
            beforeShow: function (input, datepicker) {
                datepicker_draw_nb_nights();
            },
            beforeShowDay: function (date) {
                var timestamp_date = date.getTime();
                var result = getDateClass(timestamp_date, timestamp_start_date, timestamp_end_date);
                if (result != false)
                    return result;

                return [true, "", "Chocolate !"];
            },
            onSelect: function (date_string, datepicker) {
                // this => input
                end_date = $input_end_date.datepicker("getDate");
                timestamp_end_date = end_date.getTime();
            },
            onClose: function () {
                if (end_date == null)
                    return;

                if (timestamp_end_date <= timestamp_start_date || start_date == null) {
                    $input_start_date.datepicker("setDate", null);
                    start_date = null;
                    timestamp_start_date = null;
                    $input_start_date.datepicker("show");
                }
            }
        };

        $input_start_date = jQuery("#start-date");
        $input_end_date = jQuery("#end-date");

        $input_start_date.datepicker(options_start_date);
        $input_end_date.datepicker(options_end_date);

        function get_days_difference(start_date, end_date) {
            return Math.floor(end_date - start_date) / (1000 * 60 * 60 * 24);
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
